body {
    margin: 0px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Arial;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-family: Arial;
}

#btn:hover {
    background-color: #d38900;
}